<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idejie.android.aoc">

    <!-- 申请权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎界面 -->
        <activity
            android:name=".activity.FirstScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".activity.MainActivity"
        android:label="@string/title_activity_main"
        android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.TendencyActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".activity.MyPriceActivity" >
        </activity>
        <activity android:name=".activity.MyCommentActivity" />
        <activity android:name=".activity.MallActivity" />
        <activity android:name=".activity.TuiActivity" />
        <activity
            android:name=".activity.BackUpActivity"
            android:label="@string/title_activity_back_up" />
        <activity
            android:name=".activity.VerifyActivity"
            android:label="@string/title_activity_verify" />
        <activity
            android:name=".activity.ModifyPswordActivity"
            android:label="@string/title_activity_modify_psword" />
        <activity
            android:name=".activity.ModifySuccessActivity"
            android:label="@string/title_activity_modify_success" />
        <activity android:name=".activity.GuanzhuActivity" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>